Host production
  HostName ec2-50-18-125-82.us-west-1.compute.amazonaws.com
  User yadmin
  IdentityFile ~/ssh_keys/Yottaa-Production-Insight.pem

Host qa
  HostName qa.yottaa.com
  User yadmin
  IdentityFile ~/ssh_keys/Yottaa-QA.pem

Host github-yottaa
  HostName github.com
  User git
  IdentityFile ~/ssh_keys/github_yottaa
